@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Noto Sans Mono', monospace;}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans Mono', monospace;
}
.tag_heading h1{
  font-family: 'Noto Sans Mono', monospace;
  font-style: normal;
font-weight: bold;
font-size: 12.8px;
line-height: 170%;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #747474;
text-align: left;
}
.tag_heading p{
  font-family: Noto Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #606060;
  text-align: left;
}
.tag_input {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: static;
  width: 489px;
  height: min-content;
  min-height: 100px;
  left: 0px;
  top: 66px;
  background: #F5F5F5;
}
.tag_input:hover {
  border: 1px solid #0052cc;
  background: #EBEBEB;
box-shadow: inset 0px -2px 0px #33A4FF;
border-radius: 2px;
}
  input {
    border: none;
    height: 46px;
    font-size: 14px;
    padding: 4px 0 0 0;
    justify-content: left;
    text-align: left;
    background: #F5F5F5;
    display: block;
    padding: 0px 10px;
    color: black !important;

  }
   input:focus {
    outline: transparent;
  }
  [type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 10px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjEyMy4wNXB4IiBoZWlnaHQ9IjEyMy4wNXB4IiB2aWV3Qm94PSIwIDAgMTIzLjA1IDEyMy4wNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIzLjA1IDEyMy4wNTsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTEyMS4zMjUsMTAuOTI1bC04LjUtOC4zOTljLTIuMy0yLjMtNi4xLTIuMy04LjUsMGwtNDIuNCw0Mi4zOTlMMTguNzI2LDEuNzI2Yy0yLjMwMS0yLjMwMS02LjEwMS0yLjMwMS04LjUsMGwtOC41LDguNQ0KCQljLTIuMzAxLDIuMy0yLjMwMSw2LjEsMCw4LjVsNDMuMSw0My4xbC00Mi4zLDQyLjVjLTIuMywyLjMtMi4zLDYuMSwwLDguNWw4LjUsOC41YzIuMywyLjMsNi4xLDIuMyw4LjUsMGw0Mi4zOTktNDIuNGw0Mi40LDQyLjQNCgkJYzIuMywyLjMsNi4xLDIuMyw4LjUsMGw4LjUtOC41YzIuMy0yLjMsMi4zLTYuMSwwLTguNWwtNDIuNS00Mi40bDQyLjQtNDIuMzk5QzEyMy42MjUsMTcuMTI1LDEyMy42MjUsMTMuMzI1LDEyMS4zMjUsMTAuOTI1eiIvPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPC9zdmc+DQo=);
    background-size: 10px 10px;
  }
input[type="search" i] {
  color: #000000 !important;

}
  .submit{
    margin-top: 50px;
    display: none;
  }
.tags{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag_list {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 11px;
  display: flex;
  position: static;
  width: 208px;
  height: 45px;
  left: 0px;
  top: 0px;
  text-align: left;
  background: #EBF6FF;
  border-radius: 2px;
  justify-content: space-between;
  margin-left: 10px !important;
  margin-top: 10px;

}
.form-select1 {
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: none;
  font-weight: normal;
  font-size: 14px;
  color: #383838;
}
select{
  border: none !important;

}
select option{
  padding: 10px 0px;
}
select {
  text-rendering: auto;
  color: -internal-light-dark(rgba(255, 247, 247, 0), white) !important;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: default;
  margin: 0em;
  border-width: 0px !important;
  border-style: none !important;
  border-color: none !important;
  border-image: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none !important;
  outline: none!important;
  scroll-behavior: smooth!important;font-style: normal;
}
select option:checked {
  border: none !important;

}
select {
  appearance: auto;
  align-items: flex-start;
  overflow-x: hidden;
  vertical-align: text-bottom;
  white-space: nowrap;
  border-radius: 0px !important;
  border: none !important;
}
.form-select1::-moz-focus-outer{
  border: none !important;
}
.form-select1:hover{
  border: none !important;

}
.form-select1:active{
  border: none !important;

}
.form-select1:checked{
  border: none !important;

}
.select option:checked{
  border: none !important;

}
select option:hover, 
select option:focus, 
select option:active, 
select option:checked
{
    background: linear-gradient(#EBF6FF,#EBF6FF);
    background-color: #EBF6FF !important;
    border: none !important;

}
.form-select1:hover, 
.form-select1:focus, 
.form-select1:active, 
.form-select1:checked
{
    border: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
.input-tag-show{
  color: #000000 !important;
}
  .tag-name {
    margin-top: 3px;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 170%;
/* identical to box height, or 24px */


/* greycolor100 */

color: #383838;
  }
  .tag-close-icon {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    margin-left: 8px;
    color: #000000;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
  }
.input_tag_add{
  display: flex;
}

@media screen and (max-width: 567px) {
  .tag_input {
    width: calc(100vw - 32px);
  }
}
.list-tags-div{
  display: flex;
  padding-left: 25px;
}
li{
  list-style-type: none;
  margin-left: 0px !important;
  padding: 0px !important;

}
li:hover, 
li:focus, 
li:active, 
li:checked
{
    background: linear-gradient(#EBF6FF,#EBF6FF);
    background-color: #EBF6FF !important;
    border: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
.list-tags-div h2{
  font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 170%;
color: #383838;
}
.list-tags-div span{
    font-style: normal;
    font-weight: bold;
    font-size: 10.24px;
    line-height: 400%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #747474;
    padding-left: 5px;
}
ul{
  margin-left: 0px !important;
  padding: 0px !important;
}